.elementor-31
  .elementor-element.elementor-element-11bdc6c3:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-11bdc6c3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #468fff 0%, #7cd6fd 100%);
}
.elementor-31 .elementor-element.elementor-element-11bdc6c3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-11bdc6c3
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-3a4241db {
  --spacer-size: 65px;
}
.elementor-31 .elementor-element.elementor-element-5ddbfa9a {
  text-align: left;
}
.elementor-31
  .elementor-element.elementor-element-5ddbfa9a
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 95px;
  font-weight: 500;
}
.elementor-31
  .elementor-element.elementor-element-5ddbfa9a
  > .elementor-widget-container {
  padding: 0px 0px 0px 14px;
}
.elementor-31 .elementor-element.elementor-element-56095154 img {
  width: 78%;
}
.elementor-31 .elementor-element.elementor-element-624afc35 {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.elementor-31
  .elementor-element.elementor-element-624afc35
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 14px;
}
.elementor-31 .elementor-element.elementor-element-48648cce .elementor-button {
  font-family: "RocknRoll One", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  fill: #ffffff;
  color: #ffffff;
  background-color: #fa7d9e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  border-radius: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}
.elementor-31
  .elementor-element.elementor-element-48648cce
  > .elementor-widget-container {
  border-radius: 1px 1px 1px 1px;
}
.elementor-31 .elementor-element.elementor-element-60e0fa7b .elementor-button {
  font-family: "RocknRoll One", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  fill: #ffffff;
  color: #ffffff;
  background-color: #fa7d9e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  border-radius: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}
.elementor-31 .elementor-element.elementor-element-4ee100b {
  --spacer-size: 40px;
}
.elementor-31 .elementor-element.elementor-element-6cc54e18 {
  text-align: right;
}
.elementor-31 .elementor-element.elementor-element-6cc54e18 img {
  width: 80%;
}
.elementor-31
  .elementor-element.elementor-element-58b8e7fe:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-58b8e7fe
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #468fff;
}
.elementor-31
  .elementor-element.elementor-element-58b8e7fe
  > .elementor-background-overlay {
  opacity: 0.3;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-58b8e7fe {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-58b8e7fe
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #7cd6fd;
}
.elementor-31
  .elementor-element.elementor-element-58b8e7fe
  > .elementor-shape-top
  svg {
  height: 62px;
}
.elementor-31
  .elementor-element.elementor-element-58b8e7fe
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: #7cd6fd;
}
.elementor-31
  .elementor-element.elementor-element-58b8e7fe
  > .elementor-shape-bottom
  svg {
  height: 62px;
}
.elementor-31 .elementor-element.elementor-element-64561abe {
  --spacer-size: 55px;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-45877fc0.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-45877fc0.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-45877fc0
  > .elementor-element-populated {
  margin: 15px 15px 15px 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}
.elementor-31 .elementor-element.elementor-element-d290cd7 img {
  width: 100%;
  border-radius: 37px 37px 37px 37px;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-2c9190fc.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-2c9190fc.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-2c9190fc:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-31
  .elementor-element.elementor-element-2c9190fc
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e56586;
}
.elementor-31
  .elementor-element.elementor-element-2c9190fc
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 0px 15px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 30px 30px 30px 30px;
}
.elementor-31
  .elementor-element.elementor-element-2c9190fc
  > .elementor-element-populated,
.elementor-31
  .elementor-element.elementor-element-2c9190fc
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-31
  .elementor-element.elementor-element-2c9190fc
  > .elementor-background-slideshow {
  border-radius: 20px 20px 20px 20px;
}
.elementor-31
  .elementor-element.elementor-element-2c9190fc
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-1c186c1e {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-1c186c1e
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 65px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-2e7b1934 {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-31b28a0a {
  --spacer-size: 75px;
}
.elementor-31
  .elementor-element.elementor-element-319a180b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-319a180b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #468fff;
}
.elementor-31
  .elementor-element.elementor-element-319a180b
  > .elementor-background-overlay {
  opacity: 0.23;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-319a180b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-319a180b
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #7cd6fd;
}
.elementor-31
  .elementor-element.elementor-element-319a180b
  > .elementor-shape-top
  svg {
  height: 45px;
}
.elementor-31 .elementor-element.elementor-element-1f6f5e9d {
  --spacer-size: 65px;
}
.elementor-31 .elementor-element.elementor-element-4afc9982 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-4afc9982
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 65px;
  font-weight: 600;
}
.elementor-31 .elementor-element.elementor-element-2fa7a81 {
  --spacer-size: 15px;
}
.elementor-31 .elementor-element.elementor-element-5c8daf30 {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-93b332c {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31
  .elementor-element.elementor-element-70c6056:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-31
  .elementor-element.elementor-element-70c6056
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e56586;
}
.elementor-31
  .elementor-element.elementor-element-70c6056
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}
.elementor-31
  .elementor-element.elementor-element-70c6056
  > .elementor-element-populated,
.elementor-31
  .elementor-element.elementor-element-70c6056
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-31
  .elementor-element.elementor-element-70c6056
  > .elementor-background-slideshow {
  border-radius: 20px 20px 20px 20px;
}
.elementor-31
  .elementor-element.elementor-element-70c6056
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-1443e8ac {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-1443e8ac
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 52px;
  font-weight: 600;
}
.elementor-31 .elementor-element.elementor-element-2450992a {
  --spacer-size: 10px;
}
.elementor-31 .elementor-element.elementor-element-63cd15f {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-63cd15f
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-bd20b24 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-bd20b24
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-35e8b99a {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-35e8b99a
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-ace21c5 {
  --spacer-size: 10px;
}
.elementor-31 .elementor-element.elementor-element-474ae6c1 {
  --divider-border-style: wavy;
  --divider-color: #468fff;
  --divider-border-width: 3.3px;
  --divider-pattern-height: 16.9px;
  --divider-pattern-size: 27.2px;
}
.elementor-31
  .elementor-element.elementor-element-474ae6c1
  .elementor-divider-separator {
  width: 100%;
}
.elementor-31 .elementor-element.elementor-element-474ae6c1 .elementor-divider {
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-31 .elementor-element.elementor-element-525411e {
  --spacer-size: 10px;
}
.elementor-31 .elementor-element.elementor-element-286af03b {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-286af03b
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 37px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-692b1f8c {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-692b1f8c
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-2afc233 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-2afc233
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 19px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-cd48f0c {
  --spacer-size: 10px;
}
.elementor-31 .elementor-element.elementor-element-714d7973 {
  --divider-border-style: wavy;
  --divider-color: #468fff;
  --divider-border-width: 3.3px;
  --divider-pattern-height: 16.9px;
  --divider-pattern-size: 27.2px;
}
.elementor-31
  .elementor-element.elementor-element-714d7973
  .elementor-divider-separator {
  width: 100%;
}
.elementor-31 .elementor-element.elementor-element-714d7973 .elementor-divider {
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-31 .elementor-element.elementor-element-0cc2e37 {
  --spacer-size: 10px;
}
.elementor-31 .elementor-element.elementor-element-473bb43 .elementor-button {
  font-family: "RocknRoll One", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  fill: #ffffff;
  color: #ffffff;
  background-color: #fa7d9e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  border-radius: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}
.elementor-31
  .elementor-element.elementor-element-473bb43
  > .elementor-widget-container {
  border-radius: 1px 1px 1px 1px;
}
.elementor-31
  .elementor-element.elementor-element-21c862ef:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-31
  .elementor-element.elementor-element-21c862ef
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e56586;
}
.elementor-31
  .elementor-element.elementor-element-21c862ef
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}
.elementor-31
  .elementor-element.elementor-element-21c862ef
  > .elementor-element-populated,
.elementor-31
  .elementor-element.elementor-element-21c862ef
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-31
  .elementor-element.elementor-element-21c862ef
  > .elementor-background-slideshow {
  border-radius: 20px 20px 20px 20px;
}
.elementor-31
  .elementor-element.elementor-element-21c862ef
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-262307ec {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-262307ec
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 52px;
  font-weight: 600;
}
.elementor-31 .elementor-element.elementor-element-c3a7e8d {
  --spacer-size: 10px;
}
.elementor-31 .elementor-element.elementor-element-10678855 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-10678855
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-6977a3e {
  --spacer-size: 5px;
}
.elementor-31
  .elementor-element.elementor-element-159f492:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-159f492
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #468fff;
}
.elementor-31
  .elementor-element.elementor-element-159f492
  > .elementor-background-overlay {
  background-image: url("../../2023/06/Untitled-design-2023-06-07T175807.540.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-159f492 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-159f492
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #7cd6fd;
}
.elementor-31
  .elementor-element.elementor-element-159f492
  > .elementor-shape-top
  svg {
  height: 45px;
}
.elementor-31 .elementor-element.elementor-element-7783187 {
  --spacer-size: 65px;
}
.elementor-31 .elementor-element.elementor-element-3104b23 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-3104b23
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 65px;
  font-weight: 600;
}
.elementor-31 .elementor-element.elementor-element-c7d9290 {
  --spacer-size: 15px;
}
.elementor-31 .elementor-element.elementor-element-d732ee4 {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-4978bcb {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-center
  .eae-tl-icon-wrapper {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-left
  .eae-tl-icon-wrapper {
  margin-right: 0px !important;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-right
  .eae-tl-icon-wrapper {
  margin-left: 0px !important;
}
.elementor-31 .elementor-element.elementor-element-d5b708f .eae-timeline-item {
  padding-bottom: 50px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-item-content {
  text-align: center;
  padding: 15px 15px 15px 15px;
  flex-direction: column;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  background: #fa7d9e;
  border-radius: 20px 20px 20px 20px;
}
.elementor-31 .elementor-element.elementor-element-d5b708f .eae-tl-item-image {
  width: 28%;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-column
  .eae-tl-content {
  width: 100%;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-tl-content {
  width: calc(100% - 28%);
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-tl-content {
  width: calc(100% - 28%);
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-column
  .eae-tl-item-image {
  margin: 0 auto 0px auto;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-center:not(.eae-timeline-layout-rtl)
  .eae-timeline-item:nth-child(even):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-center.eae-timeline-layout-rtl
  .eae-timeline-item:nth-child(even):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-center:not(.eae-timeline-alternate-yes)
  .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-center.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-center
  .eae-timeline-item:nth-child(even):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-center:not(.eae-timeline-alternate-yes)
  .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-center.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-left:not(.eae-timeline-alternate-yes)
  .eae-timeline-item:not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-left.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(even):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-left.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-left:not(.eae-timeline-alternate-yes)
  .eae-timeline-item:not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-left.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(even):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-left.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-right:not(.eae-timeline-alternate-yes)
  .eae-timeline-item:not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-right.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(even):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row
  .eae-layout-right.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-right:not(.eae-timeline-alternate-yes)
  .eae-timeline-item:not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-right.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(even):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-left: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f.image-position-row-reverse
  .eae-layout-right.eae-timeline-alternate-yes
  .eae-timeline-item:nth-child(odd):not(.custom-image-style-yes)
  .eae-tl-item-image {
  margin-right: 0px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-item-image
  img {
  border-radius: 0px 0px 0px 0px;
}
.elementor-31 .elementor-element.elementor-element-d5b708f .eae-tl-item-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 40px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-d5b708f .eae-tl-content {
  color: #ffffff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-content-innner {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-center.eae-timeline
  .eae-timeline-item:nth-child(even)
  .eae-tl-item-content::before {
  border-color: transparent #fa7d9e transparent transparent !important;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-center.eae-timeline
  .eae-timeline-item:nth-child(odd)
  .eae-tl-item-content::before {
  border-color: transparent transparent transparent #fa7d9e !important;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-right.eae-timeline
  .eae-tl-item-content::before {
  border-color: transparent transparent transparent #fa7d9e !important;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-left.eae-timeline
  .eae-tl-item-content::before {
  border-color: transparent #fa7d9e transparent transparent !important;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-timline-progress-bar {
  background: #fa7d9e;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-timline-progress-bar
  .eae-pb-inner-line {
  background: #ffffff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-center
  .eae-timline-progress-bar {
  width: 3px;
  left: calc(50% - 3px / 2);
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-left
  .eae-timline-progress-bar {
  width: 3px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-layout-right
  .eae-timline-progress-bar {
  width: 3px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon-view-stacked {
  background-color: #fa7d9e;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon-view-framed {
  border-color: #fa7d9e;
  background-color: #fff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon-view-framed
  i {
  color: #fa7d9e;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon-view-framed
  svg {
  fill: #fa7d9e;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon-view-default
  i {
  color: #fa7d9e;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon-view-default
  svg {
  fill: #fa7d9e;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon-view-stacked
  i {
  color: #fff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon-view-stacked
  svg {
  fill: #fff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-item-focused
  .eae-icon-item_icon.eae-icon-view-stacked {
  background-color: #ffffff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-item-focused
  .eae-icon-item_icon.eae-icon-view-framed {
  border-color: #ffffff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-item-focused
  .eae-icon-item_icon.eae-icon-view-framed
  i {
  color: #ffffff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-item-focused
  .eae-icon-item_icon.eae-icon-view-framed
  svg {
  fill: #ffffff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-item-focused
  .eae-icon-item_icon.eae-icon-view-default
  i {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-tl-item-focused
  .eae-icon-item_icon.eae-icon-view-default
  svg {
  fill: #ffffff;
  border-color: #ffffff;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon
  i {
  font-size: 60px;
  transform: rotate(0deg);
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon
  svg {
  width: 60px;
}
.elementor-31
  .elementor-element.elementor-element-d5b708f
  .eae-icon-item_icon.eae-icon {
  padding: 1px;
  border-style: solid;
}
.elementor-31 .elementor-element.elementor-element-883f33c {
  --spacer-size: 25px;
}
.elementor-31 .elementor-element.elementor-element-b135ffb {
  --spacer-size: 5px;
}
.elementor-31
  .elementor-element.elementor-element-481df24:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-481df24
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #468fff;
}
.elementor-31
  .elementor-element.elementor-element-481df24
  > .elementor-background-overlay {
  opacity: 0.7;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-481df24 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-481df24
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #7cd6fd;
}
.elementor-31
  .elementor-element.elementor-element-481df24
  > .elementor-shape-top
  svg {
  height: 148px;
}
.elementor-31
  .elementor-element.elementor-element-481df24
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: #7cd6fd;
}
.elementor-31
  .elementor-element.elementor-element-481df24
  > .elementor-shape-bottom
  svg {
  height: 148px;
}
.elementor-31 .elementor-element.elementor-element-77b0fb84 {
  --spacer-size: 5px;
}
.elementor-31 .elementor-element.elementor-element-36f88795 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-36f88795
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 65px;
  font-weight: 600;
}
.elementor-31 .elementor-element.elementor-element-4ee2eded {
  --spacer-size: 29px;
}
.elementor-31
  .elementor-element.elementor-element-304fee6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-304fee6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #7cd6fd;
}
.elementor-31 .elementor-element.elementor-element-304fee6 {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  box-shadow: 15px 15px 22px 6px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31 .elementor-element.elementor-element-304fee6,
.elementor-31
  .elementor-element.elementor-element-304fee6
  > .elementor-background-overlay {
  border-radius: 7px 7px 7px 7px;
}
.elementor-31
  .elementor-element.elementor-element-304fee6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-ef27130.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-ef27130.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-ef27130
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #22221f;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-ef27130
  > .elementor-element-populated,
.elementor-31
  .elementor-element.elementor-element-ef27130
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-31
  .elementor-element.elementor-element-ef27130
  > .elementor-background-slideshow {
  border-radius: 0px 1px 0px 0px;
}
.elementor-31
  .elementor-element.elementor-element-ef27130
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-92793a9 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-92793a9
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 46px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-87df87f {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-87df87f
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 120px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-5a59d89.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-5a59d89.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-5a59d89
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-5a59d89
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-96011a9 {
  text-align: left;
}
.elementor-31
  .elementor-element.elementor-element-96011a9
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 45px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-54e7033 {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-6b8590bb {
  --spacer-size: 5px;
}
.elementor-31
  .elementor-element.elementor-element-8a57a47:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-8a57a47
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #7cd6fd;
}
.elementor-31 .elementor-element.elementor-element-8a57a47 {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  box-shadow: 15px 15px 22px 6px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31 .elementor-element.elementor-element-8a57a47,
.elementor-31
  .elementor-element.elementor-element-8a57a47
  > .elementor-background-overlay {
  border-radius: 7px 7px 7px 7px;
}
.elementor-31
  .elementor-element.elementor-element-8a57a47
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-bb94227.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-bb94227.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-bb94227
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #22221f;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-bb94227
  > .elementor-element-populated,
.elementor-31
  .elementor-element.elementor-element-bb94227
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-31
  .elementor-element.elementor-element-bb94227
  > .elementor-background-slideshow {
  border-radius: 0px 1px 0px 0px;
}
.elementor-31
  .elementor-element.elementor-element-bb94227
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-bc34191 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-bc34191
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 46px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-a4730b4 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-a4730b4
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 120px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-5e641e8.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-5e641e8.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-5e641e8
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-5e641e8
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-0521edf {
  text-align: left;
}
.elementor-31
  .elementor-element.elementor-element-0521edf
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 45px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-247852f {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-7c3d25f6 {
  --spacer-size: 5px;
}
.elementor-31
  .elementor-element.elementor-element-7ac76b9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-7ac76b9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #7cd6fd;
}
.elementor-31 .elementor-element.elementor-element-7ac76b9 {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  box-shadow: 15px 15px 22px 6px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31 .elementor-element.elementor-element-7ac76b9,
.elementor-31
  .elementor-element.elementor-element-7ac76b9
  > .elementor-background-overlay {
  border-radius: 7px 7px 7px 7px;
}
.elementor-31
  .elementor-element.elementor-element-7ac76b9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-2063122.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-2063122.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-2063122
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #22221f;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-2063122
  > .elementor-element-populated,
.elementor-31
  .elementor-element.elementor-element-2063122
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-31
  .elementor-element.elementor-element-2063122
  > .elementor-background-slideshow {
  border-radius: 0px 1px 0px 0px;
}
.elementor-31
  .elementor-element.elementor-element-2063122
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-0a6ca2a {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-0a6ca2a
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 46px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-37311e3 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-37311e3
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 120px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-01ba6bf.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-01ba6bf.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-01ba6bf
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-01ba6bf
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-b485b55 {
  text-align: left;
}
.elementor-31
  .elementor-element.elementor-element-b485b55
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 45px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-62e023a {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-507efbdb {
  --spacer-size: 5px;
}
.elementor-31
  .elementor-element.elementor-element-7594467f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-7594467f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #7cd6fd;
}
.elementor-31 .elementor-element.elementor-element-7594467f {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #22221f;
  box-shadow: 15px 15px 22px 6px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31 .elementor-element.elementor-element-7594467f,
.elementor-31
  .elementor-element.elementor-element-7594467f
  > .elementor-background-overlay {
  border-radius: 7px 7px 7px 7px;
}
.elementor-31
  .elementor-element.elementor-element-7594467f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-3f4450a4.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-3f4450a4.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-3f4450a4
  > .elementor-element-populated {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #22221f;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-3f4450a4
  > .elementor-element-populated,
.elementor-31
  .elementor-element.elementor-element-3f4450a4
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-31
  .elementor-element.elementor-element-3f4450a4
  > .elementor-background-slideshow {
  border-radius: 0px 1px 0px 0px;
}
.elementor-31
  .elementor-element.elementor-element-3f4450a4
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-34fa9a9f {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-34fa9a9f
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 46px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-32c1c433 {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-32c1c433
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 120px;
  font-weight: 600;
}
.elementor-bc-flex-widget
  .elementor-31
  .elementor-element.elementor-element-4a6f0957.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-4a6f0957.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-31
  .elementor-element.elementor-element-4a6f0957
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-4a6f0957
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-13881d5f {
  text-align: left;
}
.elementor-31
  .elementor-element.elementor-element-13881d5f
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Boogaloo", Sans-serif;
  font-size: 45px;
  font-weight: 500;
}
.elementor-31 .elementor-element.elementor-element-34ee718d {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-31 .elementor-element.elementor-element-5c41f2c9 {
  --spacer-size: 47px;
}
.elementor-31 .elementor-element.elementor-element-63b1cbd {
  --spacer-size: 15px;
}
.elementor-31 .elementor-element.elementor-element-cff399e {
  --e-image-carousel-slides-to-show: 2;
}
.elementor-31
  .elementor-element.elementor-element-cff399e
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-31
  .elementor-element.elementor-element-cff399e
  .elementor-swiper-button.elementor-swiper-button-next {
  font-size: 32px;
}
.elementor-31
  .elementor-element.elementor-element-cff399e
  .elementor-image-carousel-wrapper
  .elementor-image-carousel
  .swiper-slide-image {
  border-radius: 20px 20px 20px 20px;
}
.elementor-31 .elementor-element.elementor-element-f214306 {
  --spacer-size: 50px;
}
.elementor-31
  .elementor-element.elementor-element-2d3450dd:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-31
  .elementor-element.elementor-element-2d3450dd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #468fff;
}
.elementor-31
  .elementor-element.elementor-element-2d3450dd
  > .elementor-background-overlay {
  opacity: 0.23;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-31 .elementor-element.elementor-element-2d3450dd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-31
  .elementor-element.elementor-element-2d3450dd
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #7cd6fd;
}
.elementor-31
  .elementor-element.elementor-element-2d3450dd
  > .elementor-shape-top
  svg {
  height: 65px;
}
.elementor-31 .elementor-element.elementor-element-b326a70 {
  --spacer-size: 65px;
}
.elementor-31 .elementor-element.elementor-element-402ad2aa {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-402ad2aa
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 60px;
  font-weight: 600;
}
.elementor-31 .elementor-element.elementor-element-6fe4ee14 {
  --spacer-size: 15px;
}
.elementor-31 .elementor-element.elementor-element-29016255 img {
  width: 15%;
}
.elementor-31 .elementor-element.elementor-element-47699842 {
  --spacer-size: 5px;
}
.elementor-31 .elementor-element.elementor-element-3d19b0a8 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 71px;
  --grid-column-gap: 19px;
  --grid-row-gap: 0px;
}
.elementor-31
  .elementor-element.elementor-element-3d19b0a8
  .elementor-widget-container {
  text-align: center;
}
.elementor-31
  .elementor-element.elementor-element-3d19b0a8
  .elementor-social-icon {
  background-color: #70353500;
  --icon-padding: 0.1em;
}
.elementor-31 .elementor-element.elementor-element-3f2d3ea {
  --spacer-size: 60px;
}
.elementor-31 .elementor-element.elementor-element-62587f5 {
  text-align: center;
  color: #ffffff;
  font-family: "Ubuntu", Sans-serif;
  font-size: 23px;
  font-weight: 300;
}
.elementor-31 .elementor-element.elementor-element-711171d {
  text-align: center;
  color: #ffffff;
  font-family: "Ubuntu", Sans-serif;
  font-size: 23px;
  font-weight: 300;
}
.elementor-31 .elementor-element.elementor-element-5ff9d538 {
  --spacer-size: 40px;
}
.elementor-31 .elementor-element.elementor-element-737cb558 {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .elementor-31
    .elementor-element.elementor-element-d5b708f
    .eae-layout-center.eae-timeline.eae-tl-res-layout-left
    .eae-timeline-item
    .eae-tl-item-content::before {
    border-color: transparent #fa7d9e transparent transparent !important;
  }
  .elementor-31
    .elementor-element.elementor-element-d5b708f
    .eae-layout-center.eae-timeline.eae-tl-res-layout-right
    .eae-timeline-item
    .eae-tl-item-content::before {
    border-color: transparent transparent transparent #fa7d9e !important;
  }
  .elementor-31
    .elementor-element.elementor-element-d5b708f
    .eae-timeline.eae-layout-center.eae-tl-res-style-mobile
    .eae-timeline-item:nth-child(odd)
    .eae-tl-item-content::before {
    border-color: transparent transparent transparent #fa7d9e !important;
  }
}
@media (min-width: 768px) {
  .elementor-31 .elementor-element.elementor-element-3634427d {
    width: 33.45%;
  }
  .elementor-31 .elementor-element.elementor-element-279e70cc {
    width: 66.55%;
  }
  .elementor-31 .elementor-element.elementor-element-ef27130 {
    width: 14.751%;
  }
  .elementor-31 .elementor-element.elementor-element-5a59d89 {
    width: 85.249%;
  }
  .elementor-31 .elementor-element.elementor-element-bb94227 {
    width: 14.751%;
  }
  .elementor-31 .elementor-element.elementor-element-5e641e8 {
    width: 85.249%;
  }
  .elementor-31 .elementor-element.elementor-element-2063122 {
    width: 14.751%;
  }
  .elementor-31 .elementor-element.elementor-element-01ba6bf {
    width: 85.249%;
  }
  .elementor-31 .elementor-element.elementor-element-3f4450a4 {
    width: 14.751%;
  }
  .elementor-31 .elementor-element.elementor-element-4a6f0957 {
    width: 85.249%;
  }
}
@media (min-width: 1025px) {
  .elementor-31
    .elementor-element.elementor-element-159f492
    > .elementor-background-overlay {
    background-attachment: fixed;
  }
}
@media (max-width: 767px) {
  .elementor-31 .elementor-element.elementor-element-5ddbfa9a {
    text-align: center;
  }
  .elementor-31 .elementor-element.elementor-element-624afc35 {
    text-align: center;
  }
  .elementor-31 .elementor-element.elementor-element-31b28a0a {
    --spacer-size: 45px;
  }
  .elementor-31 .elementor-element.elementor-element-1f6f5e9d {
    --spacer-size: 25px;
  }
  .elementor-31
    .elementor-element.elementor-element-4afc9982
    .elementor-heading-title {
    font-size: 54px;
  }
  .elementor-31 .elementor-element.elementor-element-692b1f8c {
    text-align: center;
  }
  .elementor-31
    .elementor-element.elementor-element-692b1f8c
    .elementor-heading-title {
    font-size: 12px;
  }
  .elementor-31 .elementor-element.elementor-element-2afc233 {
    text-align: center;
  }
  .elementor-31 .elementor-element.elementor-element-51be89e3 img {
    width: 100%;
  }
  .elementor-31 .elementor-element.elementor-element-7783187 {
    --spacer-size: 45px;
  }
  .elementor-31
    .elementor-element.elementor-element-3104b23
    .elementor-heading-title {
    font-size: 54px;
  }
  .elementor-31
    .elementor-element.elementor-element-d5b708f
    .eae-layout-center.eae-timeline.eae-tl-res-layout-left
    .eae-timeline-item
    .eae-tl-item-content::before {
    border-color: transparent #fa7d9e transparent transparent !important;
  }
  .elementor-31
    .elementor-element.elementor-element-d5b708f
    .eae-layout-center.eae-timeline.eae-tl-res-layout-right
    .eae-timeline-item
    .eae-tl-item-content::before {
    border-color: transparent transparent transparent #fa7d9e !important;
  }
  .elementor-31
    .elementor-element.elementor-element-d5b708f
    .eae-timeline.eae-layout-center.eae-tl-res-style-mobile
    .eae-timeline-item:nth-child(odd)
    .eae-tl-item-content::before {
    border-color: transparent #fa7d9e transparent transparent !important;
  }
  .elementor-31 .elementor-element.elementor-element-883f33c {
    --spacer-size: 5px;
  }
  .elementor-31
    .elementor-element.elementor-element-36f88795
    .elementor-heading-title {
    font-size: 54px;
  }
  .elementor-31
    .elementor-element.elementor-element-87df87f
    .elementor-heading-title {
    font-size: 90px;
  }
  .elementor-31 .elementor-element.elementor-element-96011a9 {
    text-align: center;
  }
  .elementor-31
    .elementor-element.elementor-element-96011a9
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-31 .elementor-element.elementor-element-54e7033 {
    text-align: center;
  }
  .elementor-31
    .elementor-element.elementor-element-a4730b4
    .elementor-heading-title {
    font-size: 90px;
  }
  .elementor-31 .elementor-element.elementor-element-0521edf {
    text-align: center;
  }
  .elementor-31
    .elementor-element.elementor-element-0521edf
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-31 .elementor-element.elementor-element-247852f {
    text-align: center;
  }
  .elementor-31
    .elementor-element.elementor-element-37311e3
    .elementor-heading-title {
    font-size: 90px;
  }
  .elementor-31 .elementor-element.elementor-element-b485b55 {
    text-align: center;
  }
  .elementor-31
    .elementor-element.elementor-element-b485b55
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-31 .elementor-element.elementor-element-62e023a {
    text-align: center;
  }
  .elementor-31
    .elementor-element.elementor-element-32c1c433
    .elementor-heading-title {
    font-size: 90px;
  }
  .elementor-31 .elementor-element.elementor-element-13881d5f {
    text-align: center;
  }
  .elementor-31
    .elementor-element.elementor-element-13881d5f
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-31 .elementor-element.elementor-element-34ee718d {
    text-align: center;
  }
  .elementor-31 .elementor-element.elementor-element-f214306 {
    --spacer-size: 15px;
  }
  .elementor-31 .elementor-element.elementor-element-b326a70 {
    --spacer-size: 15px;
  }
  .elementor-31 .elementor-element.elementor-element-29016255 img {
    width: 40%;
  }
  .elementor-31 .elementor-element.elementor-element-3d19b0a8 {
    --icon-size: 59px;
  }
}
