.elementor-9
  .elementor-element.elementor-element-a6fe428:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9
  .elementor-element.elementor-element-a6fe428
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #468fff;
}
.elementor-9 .elementor-element.elementor-element-a6fe428 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-9
  .elementor-element.elementor-element-a6fe428
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9 .elementor-element.elementor-element-77c0e49 {
  text-align: center;
}
.elementor-9 .elementor-element.elementor-element-77c0e49 img {
  width: 67%;
}
.elementor-bc-flex-widget
  .elementor-9
  .elementor-element.elementor-element-1f933734.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-9
  .elementor-element.elementor-element-1f933734.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu__toggle {
  margin: 0 auto;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-9 .elementor-element.elementor-element-3bd882da a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-3bd882da a.hfe-sub-menu-item {
  font-family: "Boogaloo", Sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item
  a.hfe-menu-item:hover,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item
  a.hfe-menu-item:focus {
  color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  a.hfe-menu-item:before,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  a.hfe-menu-item:after {
  background-color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  .sub-menu
  .hfe-has-submenu-container
  a:after {
  background-color: unset;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-pointer__framed
  .menu-item.parent
  a.hfe-menu-item:before,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-pointer__framed
  .menu-item.parent
  a.hfe-menu-item:after {
  border-color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent.current-menu-item
  a.hfe-menu-item:before,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent.current-menu-item
  a.hfe-menu-item:after {
  background-color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-nav-menu:not(.hfe-pointer__framed)
  .menu-item.parent
  .sub-menu
  .hfe-has-submenu-container
  a.current-menu-item:after {
  background-color: unset;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-pointer__framed
  .menu-item.parent.current-menu-item
  a.hfe-menu-item:before,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .hfe-pointer__framed
  .menu-item.parent.current-menu-item
  a.hfe-menu-item:after {
  border-color: #fa7d9e;
}
.elementor-9 .elementor-element.elementor-element-3bd882da .sub-menu,
.elementor-9 .elementor-element.elementor-element-3bd882da nav.hfe-dropdown,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown-expandible,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #030307;
}
.elementor-9 .elementor-element.elementor-element-3bd882da ul.sub-menu {
  width: 220px;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-9
  .elementor-element.elementor-element-3bd882da
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  div.hfe-nav-menu-icon {
  color: #ffffff;
}
.elementor-9
  .elementor-element.elementor-element-3bd882da
  div.hfe-nav-menu-icon
  svg {
  fill: #ffffff;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu__toggle {
  margin: 0 auto;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-9 .elementor-element.elementor-element-557ed864 a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-557ed864 a.hfe-sub-menu-item {
  font-family: "Boogaloo", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item
  a.hfe-menu-item:hover,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item
  a.hfe-menu-item:focus {
  color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  a.hfe-menu-item:before,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  a.hfe-menu-item:after {
  background-color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  .sub-menu
  .hfe-has-submenu-container
  a:after {
  background-color: unset;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-pointer__framed
  .menu-item.parent
  a.hfe-menu-item:before,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-pointer__framed
  .menu-item.parent
  a.hfe-menu-item:after {
  border-color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent.current-menu-item
  a.hfe-menu-item:before,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent.current-menu-item
  a.hfe-menu-item:after {
  background-color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-nav-menu:not(.hfe-pointer__framed)
  .menu-item.parent
  .sub-menu
  .hfe-has-submenu-container
  a.current-menu-item:after {
  background-color: unset;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-pointer__framed
  .menu-item.parent.current-menu-item
  a.hfe-menu-item:before,
.elementor-9
  .elementor-element.elementor-element-557ed864
  .hfe-pointer__framed
  .menu-item.parent.current-menu-item
  a.hfe-menu-item:after {
  border-color: #fa7d9e;
}
.elementor-9 .elementor-element.elementor-element-557ed864 .sub-menu,
.elementor-9 .elementor-element.elementor-element-557ed864 nav.hfe-dropdown,
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown-expandible,
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #468fff;
}
.elementor-9 .elementor-element.elementor-element-557ed864 ul.sub-menu {
  width: 220px;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-9
  .elementor-element.elementor-element-557ed864
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  div.hfe-nav-menu-icon {
  color: #ffffff;
}
.elementor-9
  .elementor-element.elementor-element-557ed864
  div.hfe-nav-menu-icon
  svg {
  fill: #ffffff;
}
body:not(.rtl) .elementor-9 .elementor-element.elementor-element-557ed864 {
  left: 0px;
}
body.rtl .elementor-9 .elementor-element.elementor-element-557ed864 {
  right: 0px;
}
.elementor-9 .elementor-element.elementor-element-557ed864 {
  top: 0px;
}
.elementor-bc-flex-widget
  .elementor-9
  .elementor-element.elementor-element-7837b8ef.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-9
  .elementor-element.elementor-element-7837b8ef.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-9
  .elementor-element.elementor-element-50d089ba
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 12px;
}
.elementor-9
  .elementor-element.elementor-element-50d089ba
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 12px;
}
.elementor-9 .elementor-element.elementor-element-50d089ba .elementor-button {
  font-family: "RocknRoll One", Sans-serif;
  font-weight: 500;
  background-color: #fa7d9e2e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #fa7d9e;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 12px 0px #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-50d089ba
  .elementor-button:hover,
.elementor-9
  .elementor-element.elementor-element-50d089ba
  .elementor-button:focus {
  background-color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-50d089ba
  > .elementor-widget-container {
  padding: 0px 0px 0px 9px;
}
body:not(.rtl) .elementor-9 .elementor-element.elementor-element-50d089ba {
  left: 0px;
}
body.rtl .elementor-9 .elementor-element.elementor-element-50d089ba {
  right: 0px;
}
.elementor-9 .elementor-element.elementor-element-50d089ba {
  top: 0px;
}
.elementor-9
  .elementor-element.elementor-element-38d8b215
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 0px;
}
.elementor-9
  .elementor-element.elementor-element-38d8b215
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 0px;
}
.elementor-9 .elementor-element.elementor-element-38d8b215 .elementor-button {
  font-family: "RocknRoll One", Sans-serif;
  font-weight: 500;
  background-color: #fa7d9e2e;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #fa7d9e;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 12px 0px #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-38d8b215
  .elementor-button:hover,
.elementor-9
  .elementor-element.elementor-element-38d8b215
  .elementor-button:focus {
  background-color: #fa7d9e;
}
.elementor-9
  .elementor-element.elementor-element-38d8b215
  > .elementor-widget-container {
  padding: 0px 0px 0px 9px;
}
@media (max-width: 767px) {
  .elementor-9 .elementor-element.elementor-element-77c0e49 {
    text-align: left;
  }
  .elementor-9 .elementor-element.elementor-element-77c0e49 img {
    width: 25%;
  }
  .elementor-9 .elementor-element.elementor-element-557ed864 a.hfe-menu-item,
  .elementor-9
    .elementor-element.elementor-element-557ed864
    a.hfe-sub-menu-item {
    font-size: 23px;
  }
  .elementor-9 .elementor-element.elementor-element-557ed864 {
    width: var(--container-widget-width, 35.531px);
    max-width: 35.531px;
    --container-widget-width: 35.531px;
    --container-widget-flex-grow: 0;
    top: -67.976px;
  }
  body:not(.rtl) .elementor-9 .elementor-element.elementor-element-557ed864 {
    left: 328.976px;
  }
  body.rtl .elementor-9 .elementor-element.elementor-element-557ed864 {
    right: 328.976px;
  }
  .elementor-9 .elementor-element.elementor-element-50d089ba {
    width: var(--container-widget-width, 176.444px);
    max-width: 176.444px;
    --container-widget-width: 176.444px;
    --container-widget-flex-grow: 0;
    top: -95.91px;
  }
  body:not(.rtl) .elementor-9 .elementor-element.elementor-element-50d089ba {
    left: 114.965px;
  }
  body.rtl .elementor-9 .elementor-element.elementor-element-50d089ba {
    right: 114.965px;
  }
}
@media (min-width: 768px) {
  .elementor-9 .elementor-element.elementor-element-53b9d4eb {
    width: 15.524%;
  }
  .elementor-9 .elementor-element.elementor-element-1f933734 {
    width: 63.439%;
  }
  .elementor-9 .elementor-element.elementor-element-7837b8ef {
    width: 20.701%;
  }
}
